<h1>Edit <em><%= @list.title %></em>:</h1>

<form action="/lists/<%= @list.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for="title">List Title: </label>
        <input type="text" id="title" name="title" value="<%= @list.title %>"><br>
    <label for="category">List Category: </label>
        <input type="text" id="category" name="category" value="<%= @list.category %>"><br>
    <br>
    <% @list_items.each.with_index(1) do |item, index| %>
        <label><%= index %>: </label>
        <input type="text" name="[list_items][][content]" value="<%= item.content %>"><br>
    <% end %>
    <br>
    <button type="submit">Update</button>
    </form>