<% if @list %>
    <h1><%= @list.title %></h1>

    <p class="details">
        authored by: <a href="/users/<%= list_owner.id %>"><%= list_owner.username %></a>
        <% if @list.category %>
            <br>
            category: <a href="/categories/<%= @list.category.id %>"><%= @list.category.name %></a> 
        <% end %>
    </p>

    <ol class="show-list">
        <% @list.list_items.each do |item| %>
            <li><%= item.content  %></li>
        <% end %>
    </ol>

    <% if owns_list? %>
        <button class="edit" onclick="window.location.href = '/lists/<%= @list.id%>/edit';">Edit</button>
        <br>
        <a href="/users/<%= owned_list.user_id %>" class="back">&lt;-- Back to my lists</a>
    <% end %>

<% else %>
    <span class="error">Hm....can't find this list. It may have been deleted.</span><br>
    <br>
    <a class="back" href="/lists">&lt;-- Back to all lists</a>
<% end %>

