<% if @list %>
    <h1><%= @list.title %></h1>

    <p class="details">
        authored by: <a href="/users/<%= list_owner.id %>"><%= list_owner.username %></a>
        <%= "in category: #{@list.category}" if @list.category %>
    </p>

    <ol class="show-list">
        <% @list.list_items.each do |item| %>
            <li><%= item.content  %></li>
        <% end %>
    </ol>

    <% if owns_list? %>
        <br>
        <label for="edit">Edit this list:</label>
        <button class="edit"><a href="/lists/<%= @list.id%>/edit">Edit</a></button>
        <br>
        <br>
        <a href="/users/<%= owned_list.user_id %>" class="back">Back to my lists</a>
    <% end %>
    <br>
<% else %>
    <span class="error">Hm....can't find this list. It may have been deleted.</span><br>
    <br>
    <a class="back" href="/lists">Back to all lists</a>
<% end %>

